@import "tailwindcss";

@theme {
  --color-on-surface: #dde5ff;
  --color-on-secondary: #001e4a;
  --color-error: #ff716c;
  --color-background: #040e21;
  --color-inverse-primary: #00687e;
  --color-error-dim: #d7383b;
  --color-surface-container-high: #121f3a;
  --color-tertiary-container: #6bff8f;
  --color-outline: #6c758e;
  --color-on-primary-fixed: #002c37;
  --color-on-tertiary-container: #005f28;
  --color-on-error-container: #ffa8a3;
  --color-on-tertiary: #00692c;
  --color-tertiary-dim: #5bf083;
  --color-on-tertiary-fixed-variant: #006a2d;
  --color-surface-container-low: #071329;
  --color-on-error: #490006;
  --color-surface: #040e21;
  --color-outline-variant: #3e485e;
  --color-on-primary-fixed-variant: #004c5d;
  --color-on-surface-variant: #a1abc5;
  --color-secondary: #699cff;
  --color-primary: #6dddff;
  --color-on-background: #dde5ff;
  --color-primary-fixed: #00d2fd;
  --color-on-secondary-container: #f7f7ff;
  --color-surface-container-highest: #172542;
  --color-surface-container: #0d1931;
  --color-on-secondary-fixed-variant: #004da8;
  --color-inverse-on-surface: #4b556c;
  --color-secondary-fixed-dim: #a9c4ff;
  --color-tertiary-fixed: #6bff8f;
  --color-surface-container-lowest: #000000;
  --color-inverse-surface: #faf9ff;
  --color-on-tertiary-fixed: #004a1d;
  --color-primary-dim: #00c3eb;
  --color-surface-dim: #040e21;
  --color-secondary-fixed: #bfd1ff;
  --color-tertiary: #c5ffc9;
  --color-secondary-container: #005ac2;
  --color-surface-tint: #6dddff;
  --color-on-primary-container: #004352;
  --color-surface-variant: #172542;
  --color-primary-fixed-dim: #00c3eb;
  --color-on-secondary-fixed: #003271;
  --color-error-container: #9f0519;
  --color-surface-bright: #1c2b4b;
  --color-on-primary: #004c5e;
  --color-secondary-dim: #699cff;
  --color-tertiary-fixed-dim: #5bf083;

  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Space Grotesk", sans-serif;
}

@layer utilities {
  .glow-primary {
    text-shadow: 0 0 10px rgba(109, 221, 255, 0.5);
  }
  .glass-panel {
    background: rgba(28, 43, 75, 0.6);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}
